///*
//- File: foter Page
//- Author: Prabhjot Singh Bhangu
//- Site: prabhjot-portfolio1.herokuapp.com
//- Description: This is the global footer on the site
//*/

extends layout

block footer
  footer
    ul
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/service") Services
      li
        a(href="/contact") Contact
      li
        a(href="/privacy") Privacy
      p
        | &copy; 2019, All Rights Reserved
