///*
//- File: header Page
//- Author: Prabhjot Singh Bhangu
//- Site: prabhjot-portfolio1.herokuapp.com
//- Description: This is the global header on the site
//*/


extends layout

block header


nav #menu
   ul
      li a(href="/")Home
      li a(href="/about")About
      li a(href="/work")Work
      li a(href="/service")Service
      li a(href="contact")Contact

#body-wrap

#home-header .container-fluid.header-home

  nav .navbar.navbar-default.navbar-fixed-top.home-header-nav
    .row
      .col-md-12
        a(href="#menu" class="brand")
         i .fa.fa-bars
