//- File: Service Page
//- Author: Prabhjot Singh Bhangu
//- Site: prabhjot-portfolio1.herokuapp.com
//- Description: Service page of my Portfolio Website

extends layout
block content


 .bg
  nav.navbar.navbar-light
  a.navbar-brand(href="/") Home
  a.navbar-brand(href="/about") About Me
  a.navbar-brand(href="/service") Services
  a.navbar-brand(href="/contact") Contact Me
  nav.navbar.navbar-light.bg-light
  br
  
  h1= title
  
  ul.list-group
  li.list-group-item MObile Apps
  li.list-group-item Website Design and Development 
  li.list-group-item Custom Tools
  li.list-group-item GMB
  li.list-group-item Print Media
  li.list-group-item Sales Marketing tools
  li.list-group-item Private event tools for business
  li.list-group-item page funnels
  br
  .footer
